@model ToDoApp.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Name</title>
</head>
<body>
    @await Html.PartialAsync("NavBar")
    <div class="col-4">
        <br />
        <h1>@Model.Name</h1>

        <h2>Tasks</h2>

        @if (Model.ToDos != null)
        {
            @foreach (var task in Model.ToDos)
            {
                <ul>
                    <li>@task.Title</li>
                </ul>
            }

        }
        else
        {
            <p> No task added yet.</p>
        }

    </div>
    <div class="col-4">
        <img src="@Model.PictureSource" alt="@Model.Name" />


    </div>
</body>
</html>